
{{ form_start(form, {'attr':{'novalidate': 'novalidate' }}) }}
  <div class="form-group"> {{ form_row(form.title) }} </div>
  <div class="form-group"> {{ form_row(form.description) }} </div>
  <div class="form-group"> {{ form_row(form.state) }} </div>
  <div class="form-group"> {{ form_row(form.users) }} </div>
  <div class="form-group"> {{ form_row(form.tasks) }} </div>
 <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

